<nav>
    <a class="button" routerLinkActive="activebutton"ariaCurrentWhenActive="page" routerLink="/about">
    About
    </a> 
    |
    <a class="button" routerLinkActive="activebutton"ariaCurrentWhenActive="page" routerLink="/navbar">
    Navbar
    </a>
</nav>
